<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>titanic</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <nav>
        <ul>
          <li><a href="hello.html">Home</a></li>
          <li><a href="titanic.html">Titanic</a></li>
          <li><a href="https://github.com/svisel22/">Github About</a></li>
        </ul>
    </nav>      
    <main>
        <h1>Titanic raising.</h1>
    </main>
    <footer>Joana</footer>
</body>

</html>