<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>titanic</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="http://localhost:4000/">Home</a></li>
            <li><a href="http://localhost:4000/titanic">Titanic</a></li>
            <li><a href="https://github.com/svisel22/">Github About</a></li>
        </ul>
    </nav>      
    <main>
        <h1>Titanic raising.</h1>
        <h2>This is my barchart </h2>
        <img src="{{ url_for('static', filename=chart_image) }}" alt="Bar Chart">
    </main>    
    <footer>Joana</footer>
</body>

</html>